{% extends "main/base.html" %}
{% block content %}
<div style="width: 840px; height: 580px; background: rgb(27, 67, 50); border-color:rgb(27, 67, 50)" class="text-white flex-wrap flex border-solid border-2 justify-center rounded-xl mt-3">
    <div class="w-1/2 overflow-hidden login-page-image">
        <img style="height: 100%" class="pl-0 rounded-tl-md rounded-bl-md" src="../../static/images/auth_image.jpg">
    </div>
    <div class="w-1/2 px-5">
        <h2 class="text-2xl font-medium uppercase text-center pt-4 ">Login to your account</h2>
        <div class="">
            <form method="post">
                {% csrf_token %}
                    <div class="input-box">
                        <span class='icon'><ion-icon name="person"></ion-icon></span>
                        {{form.username}}
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class='icon'><ion-icon name="lock-closed"></ion-icon></span>
                        {{form.password}}
                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">
                        Remember me</label>
                        <a href="#">Forgot Password</a>
                    </div>
                    <button type='submit' class='justify-center text-center items-center relative border-solid border-2 border-green-800 w-full h-9 mb-3 rounded-md duration-200 hover:bg-white hover:text-green-950'>Login</button>
            </form>
            <div class="">
                <p>Dont have an account? <a href="{% url "signup" %}" class="hover:text-purple-600 hover:underline"> Register</a></p>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}