
{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div style="width: 840px; height: 540px; background: rgb(45, 106, 79); border-color:rgb(45, 106, 79)" class="text-white flex-wrap flex border-solid border-2 justify-center rounded-xl mt-3">
    <div class="w-1/2 overflow-hidden login-page-image">
        <div style="color: rgb(8, 28, 21);" class="absolute p-4 text-2xl z-1">
            <h2 class="font-extrabold uppercase">Bridging the gap</h2>
            <h1>lorem ipsum sit amet</h1>
        </div>
        <img style="height: 100%" class="pl-0 z-4 rounded-tl-md rounded-bl-md" src="../../static/images/auth_image.jpg">
    </div>
    <div class="w-1/2 px-5">
        <h2 class="text-2xl font-medium uppercase text-center pt-4 ">create a new account</h2>
        <div class="">
            <form method="post">
                {% csrf_token %}
                    <div class="input-box">
                        <span class='icon'><ion-icon name="person"></ion-icon></span>
                        {{form.username}}
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class='icon'><ion-icon name="mail"></ion-icon></span>
                        {{form.email}}
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class='icon'><ion-icon name="lock-closed"></ion-icon></span>
                        {{form.password1}}
                        <label>Password</label>
                    </div>
                    <div class="input-box">
                        <span class='icon'><ion-icon name="lock-closed"></ion-icon></span>
                        {{form.password2}}
                        <label>Confirm Password</label>
                    </div>
                    <button type='submit' class='justify-center text-center items-center relative border-solid border-2 border-green-800 w-full h-9 mb-3 rounded-md duration-200 hover:bg-white hover:text-green-950'>Register</button>
            </form>
            <div class="">
                <p>Already have an account? <a href="{% url "login" %}" class="hover:text-purple-600 hover:underline"> Login</a></p>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}