
{% extends "main/base.html" %}
{% block content %}
<div style="width: 700px; height: 580px; background: rgb(9, 68, 9);" class="text-white flex-wrap flex border-solid border-2 border-white justify-center rounded-xl mt-5">
    <div class="w-1/2 Register-page-image">
        <img style="height: 100%" class="pl-0 rounded-tl-md rounded-bl-md" src="../../static/images/auth_image.jpg">
    </div>
    <div class="w-1/2 px-5">
        <h2 class="text-5xl font-medium uppercase text-center pt-4 ">sign-up</h2>
        <div class="">
            <form method="post">
                {% csrf_token %}
                    <div class="input-box">
                        <span class='icon'><ion-icon name="person"></ion-icon></span>
                        {{form.username}}
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class='icon'><ion-icon name="mail"></ion-icon></span>
                        {{form.email}}
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class='icon'><ion-icon name="lock-closed"></ion-icon></span>
                        {{form.password1}}
                        <label>Password</label>
                    </div>
                    <div class="input-box">
                        <span class='icon'><ion-icon name="lock-closed"></ion-icon></span>
                        {{form.password2}}
                        <label>Confirm Password</label>
                    </div>
                    <button type='submit' class='justify-center text-center items-center relative border-solid border-2 border-green-800 w-full h-9 mb-3 rounded-md duration-200 hover:bg-white hover:text-green-950'>Register</button>
            </form>
            <div class="">
                <p>Already have an account? <a href="{% url "login" %}" class="hover:text-purple-600 hover:underline"> Login</a></p>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}