<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .dropbtn {
        background-color: #D8F3DC;
        color: #081C15;
        padding: 14px;
        font-weight: 700;
        font-size: 18px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #D8F3DC;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: #081C15;
        padding: 12px 16px;
        text-decoration: none;
        font-weight: 500;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #D8F3DC;
        transition-duration: 160ms;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document
    </title>
    <link rel = 'stylesheet' href='../../static/css/styles.css'>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <header class="flex justify-between items-center ">
        <h2 class="logo"><span style="color: rgb(8, 28, 21)">Campus </span><span style="color: #fff;">Bridge</span></h2>
        <nav class="navigation flex">
            <a id="header-item" href="{% url "index" %}">Home</a>
            <a id="header-item" href="{% url "shop" %}">Shop</a>
            <a id="header-item" href="{% url "shop_service" %}">Services</a>
            <a id="header-item" href="#">Contact</a>
            <div class="flex" id="options">
                {% if user.is_authenticated %}
                <a href="#" class="no-underline">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </a>
                <a href="{% url "cart_summary" %}" class="relative">
                    {% include "cart/menu_cart.html" %}
                </a>
                <button onClick= 'location.href="/logout"' class='btnLogin-popup'>Logout</button>
                {% else %}
                <button onClick= 'location.href="/login"' class='btnLogin-popup'>Login</button>
                {% endif %}
            </div>
        </nav>
    </header>
</head>

<body>
    <div id="main-content" class="pb-8 m-0 h-full">
        <main class="flex-grow">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer id="main-footer-element" class="absolute bottom-0 justify-center h-0 mt-auto flex w-full">
        <div class="flex flex-wrap">
            <div>
                <div style="color: rgb(8, 28, 21)" class="font-bold px-2 pb-5 ml-20">
                    Categories
                </div>
                <div>
                    {% for Category in Categories %}
                        <div style="color: rgb(45, 106, 79);" class="ml-20 text-sm px-2 py-1 hover:underline">
                            <a href="{% url 'shop' %absoluteegory={{Category.slug}}">
                            {{Category.name}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div style="color: rgb(8, 28, 21)" class="font-bold px-2 pb-5 ml-20">
                    About
                </div>
                <div>
                    {% for Category in Categories %}
                        <div style="color: rgb(45, 106, 79);" class="ml-20 text-sm px-2 py-1 hover:underline">
                            <a href="{% url 'shop' %}?category={{Category.slug}}">
                            {{Category.name}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div style="color: rgb(8, 28, 21)" class="font-bold px-2 pb-5 ml-20">
                    Categories
                </div>
                <div>
                    {% for Category in Categories %}
                        <div style="color: rgb(45, 106, 79);" class="ml-20 text-sm px-2 py-1 hover:underline">
                            <a href="{% url 'shop' %}?category={{Category.slug}}">
                            {{Category.name}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div style="color: rgb(8, 28, 21)" class="font-bold px-2 pb-5 ml-20">
                    Categories
                </div>
                <div>
                    {% for Category in Categories %}
                        <div style="color: rgb(45, 106, 79);" class="ml-20 text-sm px-2 py-1 hover:underline">
                            <a href="{% url 'shop' %}?category={{Category.slug}}">
                            {{Category.name}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div style="color: rgb(8, 28, 21)" class="font-bold px-2 pb-5 ml-20">
                    Categories
                </div>
                <div>
                    {% for Category in Categories %}
                        <div style="color: rgb(45, 106, 79);" class="ml-20 text-sm px-2 py-1 hover:underline">
                            <a href="{% url 'shop' %}?category={{Category.slug}}">
                            {{Category.name}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div style="color: rgb(8, 28, 21)" class="font-bold px-2 pb-5 ml-20">
                    Categories
                </div>
                <div>
                    {% for Category in Categories %}
                        <div style="color: rgb(45, 106, 79);" class="ml-20 text-sm px-2 py-1 hover:underline">
                            <a href="{% url 'shop' %}?category={{Category.slug}}">
                            {{Category.name}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src='/static/js/script.js'></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'cart_add' %}',
                data: {
                    product_id: $('#add-cart').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
        
                success: function(json){
                    console.log(json)
                    document.getElementById("cart_quantity").textContent = json.qty
                },
        
                error: function(xhr, errmsg, err){}
        
            });
        })
        
        
    </script>
</body>
</html>