{% extends "main/base.html" %}
{% block content %}
<div>
    <div class="flex-nowrap flex w-full">
        
        <div style="list-style-type: none; right: 98%;" class="w-26 relative pt-12 h-full pl-4 flex">
            <div>
                <h2 style="color: rgb(8, 28, 21)" class="text-xl uppercase pb-4 font-extrabold">University</h2>
                {% for university in universities %}
                    <li><a href="" class="text-xs font-semibold hover:font-extrabold">
                        {{university.school_name}}</a>
                    </li>
                {% endfor %}
            </div>
        </div>
        <div class="sticky">
            <form action="." method="get" class="p-4">
                <div class="flex">
                    <input type="text" name="query" class="p-4 bg-gray-100 border-0 rounded-l-md " placeholder="Search...">
                    <button style="background: rgb(45, 106, 79);" class="p-4 rounded-r-md border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>                                          
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %} 