{% extends "main/base_shop.html" %}
{% block content %}
<div class="max-w-6xl absolute mx-auto flex flex-wrap py-0 px-0 top-28 left-12">
    <div style="top: 0px; margin-right: 1px; margin-left: 0px; width: 22rem; height: 22rem;" class="relative images mb-0">
        <img class="rounded-xl ml-0" src="https://www.getmulberry.com/pseo-static/production/image-collection/request_hash=597acaffbbe611c04a027afd5aeaae5bce007c559f73abd17211498f77b6117f/image_hash=d193494d9f7f7fa266bebb4a04a829ea3ce6c3eed0f7404b70437da15e8e2f80/raw_img.jpg">
    </div>
    
    <div style="width: 48rem; margin-left: 30px; margin-top: 15px" class="information relative">
        <h1 class="text-6xl">{{ product.name }}</h1>
        <p class="mt-1 text-3xl text-gray-400">₦{{ product.get_display_price }}</p>
        {% if product.description %}
            <p class="mt-6 mb-10 text-gray-700">{{ product.description }}</p>
        {% endif %}
        <div>
            <a 
                href="#" class="py-3 px-5 w-52 h-20 bg-gray-700 border-white border-2 outline-none rounded-xl cursor-pointer text-xl text-white font-medium ml-10 duration-500 hover:bg-gray-400"
                hx-get = "{% url "add_to_cart" product.id %}"
                hx-target = "#menu-cart-button"
                hx-swap = "outerHTML"
            >
                Add to cart
            </a>
        </div>
        <!--form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="">
            <input type="hidden" name="product_name" value="">
            <input type="hidden" name="product_price" value="">
            <input type="hidden" name="product_image" value="">
            <input type="hidden" name="product_quantity" value="">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add to cart</button>
        </form-->
</div>

{% endblock %}